@import "../../index.css";

.luterjs-toast-container {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    padding: 0 5px;
}

.luterjs-toast {
    max-width: 400px;
    width: fit-content;
    height: fit-content;
    max-height: 80px;
    border-radius: var(--BorderRadius-Small);
    background-color: var(--SecondaryAccent);
    box-shadow: 0 0 5px var(--SecondaryColor);
    display: flex;
    align-items: center;
    margin: 3px 0;
}

.luterjs-toast-content {
    width: calc(100% - 70px);
    height: calc(100% - 10px);
    margin: 5px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.luterjs-toast-title {
    height: 25px;
    font-size: 20px;
    font-weight: 700;
    color: var(--PrimaryColor);
    display: flex;
}

.luterjs-toast-description {
    font-size: 15px;
    width: 100%;
    margin: 0;
    color: var(--TextSecondaryColor);
    height: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.luterjs-toast-close {
    cursor: pointer;
    padding: 0;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    background-color: var(--SecondaryAccent);
    display: grid;
    place-items: center;
    transition: all var(--StandarAnimationSmall) ease;
}

.luterjs-toast-close:hover {
    background-color: var(--HoverAccent);
}

.luterjs-toast-close-icon {
    width: 20px;
    height: 20px;
}