@import "../../index.css";

.luterjs-button {
  cursor: pointer;
  border: 0;
  border-radius: var(--BorderRadius-Medium);
  min-width: 100px;
  transition: all var(--StandarAnimationSmall) ease;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
}
.luterjs-button:hover {
  transform: scale(.975);
}
.luterjs-button--primary {
  background-color: var(--PrimaryAccent);
  color: var(--PrimaryColor);
}

.luterjs-button--secondary {
  background-color: transparent;
}

.luterjs-button--light {
  color: var(--PrimaryColor);
}

.luterjs-button--secondary.luterjs-button--light {
  border: 2.5px solid var(--PrimaryColor);
}

.luterjs-button--dark {
  color: var(--SecondaryColor);
}

.luterjs-button--secondary.luterjs-button--dark {
  border: 2.5px solid var(--SecondaryColor);
}