.NovelJs-Native {
    width: 100%;
    height: var(--NativeHeight);
    box-sizing: border-box;
    padding: 5px 0;
    display: flex;
    align-items: center;
    -webkit-app-region: drag;
    background-color: var(--PrimaryBg);
}

.NovelJs-Native-Logo {
    margin: 0 10px 0 5px;
    width: 34px;
    height: 34px;
    border-radius: 2.5px;
}

.NovelJs-Native-Controls {
    margin: 0 0 0 auto;
    display: flex;
    -webkit-app-region: no-drag;
    user-select: none;
}

.NovelJs-Native-Controls_Element {
    width: var(--NativeHeight);
    height: var(--NativeHeight);
    display: grid;
    place-content: center;
    background: none;
    border: none;
    transition: all var(--AnimationSmall) ease;
}

.NovelJs-Native-OptionElements {
    position: relative;
    display: flex;
    -webkit-app-region: no-drag;
}

.NovelJs-Native-OptionList {
    z-index: 5;
    position: absolute;
    top: calc(100% + 10px);
    box-sizing: border-box;
    padding: 5px;
    left: 0;
    min-width: 100px;
    min-height: 20px;
    width: fit-content;
    height: fit-content;
    background-color: var(--PrimaryBg);
    border-radius: var(--BorderRadiusSmall);
}

.NovelJs-Native-OptionList-Element {
    width: fit-content;
    color: var(--TextColor);
    text-wrap: nowrap;
    padding: 2.5px 50px 2.5px 0;
    cursor: pointer;
    border-radius: var(--BorderRadiusSmall);
}

.NovelJs-Native-OptionList-Element:hover {
    background-color: var(--SecondaryBG);
}

.NovelJs-Native-OptionList-Element_Span {
    padding: 0 0 0 5px;
    user-select: none;
}

.NovelJs-Native-Option {
    width: fit-content;
    display: grid;
    place-content: center;
    height: 34px;
    border-radius: var(--BorderRadiusSmall);
}

.NovelJs-Native-Option.Active,
.NovelJs-Native-Option:hover {
    background-color: var(--SecondaryBG);
}

.NovelJs-Native-Option_Span {
    font-family: Satoshi-Bold, sans-serif;
    box-sizing: border-box;
    padding: 9px 10px;
    margin: 0;
    color: var(--TextColor);
    user-select: none;
    font-size: 20px;
}

/* ----------------| Efects |---------------- */
.NovelJs-Native-Controls_Element:hover {
    background-color: var(--SecondaryBG);
}

#close.NovelJs-Native-Controls_Element:hover {
    background-color: var(--TertiaryBg);
}